body {
  background-image: url(bilder/bakgrund.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  padding: 0%;
  margin: 0%;
}

.header {
  width: 100%;
  height: 70px;
  display: block;
  background-color: black;
  border-bottom: 2px rgb(245, 56, 9);
  border-bottom-style: solid;
}

.inner_header {
  height: 100%;
  display: block;
  margin: auto;
  padding-right: 5%;
}

.logo {
  height: 100%;
  display: table;
  float: left;
  padding-left: 5%;
}

.logo a:hover {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}

h1 {
  color: rgb(245, 56, 9);
  display: table-cell;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

h1 > span {
  color: rgb(250, 250, 250);
  font-size: 34px;
}

.navigation {
  float: right;
  vertical-align: middle;
  display: table;
}

.navigation li {
  display: table-cell;
  padding: 10px;
}

.navigation li a {
  vertical-align: middle;
  display: table;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.navigation li:hover a {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 1px;
  transition-duration: 0.3s;
}

.footer {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  background-color: black;
  text-align: center;
  border-top: 2px rgb(245, 56, 9);
  border-top-style: solid;
}
.inner_footer {
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 100%;
}

.inner_footer .footer_third {
  width: calc(33%);
  float: left;
  float: right;
}

.inner_footer .footer_third:last-child {
  margin-right: 10px;
}

.inner_footer .footer_third h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-decoration: none;
}
